body{
    background-color: darkslategrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: cadetblue;
    padding: 20px 0px;
    justify-content: center;
}
nav a{
    color: beige;
    text-decoration: none;
    padding: 10px;
}
nav a:hover{
    background-color: darkgrey;
    color: aliceblue;
}
.book-para{
    text-align: justify;
    padding: 10px 100px;
}
.theory-para{
    text-align: left;
    padding: 10px 100px;
}
.prize-para{
    text-align: left;
    padding: 10px 100px;
}
footer{
    background-color: cadetblue;
    padding: 10px;
    color: beige;
}